:root{
    --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    font-family: var(--font-family-sans-serif);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-sans-serif);
}

.hero {
    background-image: url("/images/emile-seguin-R9OueKOtGGU-unsplash.jpg");
    background-position: center;
background-attachment: fixed;
}

.dero {
    background-image: url("/images");
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}

body {
    text-align: center;
    background-color: #EEEEEE;
}

/* style.css */
.display-2x {
    font-size: 200px;
    /* display-1.5 よりさらに大きいサイズ */
}

.display-1_5x {
    font-size: 150px;
    /* display-1 よりさらに大きいサイズ */
}

